[project]
name = "python-stater"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "lefthook>=2.0.2",
    "ruff>=0.14.3",
    "ty>=0.0.1a25",
]
